In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [199]:
data = pd.read_csv("dataset/books.csv")

In [200]:
data.shape

(11127, 12)

In [122]:
data.head(2)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9.780440e+12,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9.780440e+12,eng,870,2153167,29221,9/1/2004,Scholastic Inc.

In [123]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11127 non-null  int64
 1   title               11127 non-null  object
 2   authors             11127 non-null  object
 3   average_rating      11127 non-null  float64
 4   isbn                11127 non-null  object
 5   isbn13              11127 non-null  float64
 6   language_code       11127 non-null  object
 7     num_pages         11127 non-null  int64
 8   ratings_count       11127 non-null  int64
 9   text_reviews_count  11127 non-null  int64
 10  publication_date    11127 non-null  object
 11  publisher           11127 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 1.0+ MB

In [124]:
data.describe()
# we can't have min average_rate, num_pages, ratings_count, text_reviews_count equal to zero,
# we must investigate and drop that, it can be outliers

,bookID,average_rating,isbn13,num_pages,ratings_count,text_reviews_count
count,11127.000000,11127.000000,1.112700e+04,11127.000000,1.112700e+04,11127.000000
mean,21310.938887,3.933631,9.759888e+12,336.376921,1.793641e+04,541.854498
std,13093.358023,0.352445,4.428964e+11,241.127305,1.124794e+05,2576.176608
min,1.000000,0.000000,8.987060e+09,0.000000,0.000000e+00,0.000000
25%,10287.000000,3.770000,9.780350e+12,192.000000,1.040000e+02,9.000000
50%,20287.000000,3.960000,9.780590e+12,299.000000,7.450000e+02,46.000000
75%,32104.500000,4.135000,9.780870e+12,416.000000,4.993500e+03,237.500000
max,45641.000000,5.000000,9.790010e+12,6576.000000,4.597666e+06,94265.000000

In [201]:
# We decided to drop these columns because they are IDs and they don't really determine the average rating: they are just identifiers
columns_to_drop = ["bookID", "isbn", "isbn13"]

In [202]:
data = data.drop(columns_to_drop, axis=1)

In [204]:
data1 = data

In [205]:
data1["publication_date"] = data1["publication_date"].apply(lambda x: int(x.split("/")[-1]))

In [206]:
data = data.rename(columns={"publication_date" : "publication_year"})

In [130]:
data["language_code"].value_counts()

eng      8911
en-US    1409
spa       218
en-GB     214
fre       144
ger        99
jpn        46
mul        19
zho        14
grc        11
por        10
en-CA       7
ita         5
enm         3
lat         3
swe         2
rus         2
srp         1
nl          1
msa         1
glg         1
wel         1
ara         1
nor         1
tur         1
gla         1
ale         1
Name: language_code, dtype: int64

In [131]:
data.head()

,title,authors,average_rating,language_code,num_pages,ratings_count,text_reviews_count,publication_year,publisher
0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,eng,652,2095690,27591,2006,Scholastic Inc.
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,eng,870,2153167,29221,2004,Scholastic Inc.
2,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,eng,352,6333,244,2003,Scholastic
3,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,eng,435,2339585,36325,2004,Scholastic Inc.
4,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,eng,2690,41428,164,2004,Scholastic

In [132]:
data.describe()

,average_rating,num_pages,ratings_count,text_reviews_count,publication_year
count,11127.000000,11127.000000,1.112700e+04,11127.000000,11127.000000
mean,3.933631,336.376921,1.793641e+04,541.854498,2000.167520
std,0.352445,241.127305,1.124794e+05,2576.176608,8.248836
min,0.000000,0.000000,0.000000e+00,0.000000,1900.000000
25%,3.770000,192.000000,1.040000e+02,9.000000,1998.000000
50%,3.960000,299.000000,7.450000e+02,46.000000,2003.000000
75%,4.135000,416.000000,4.993500e+03,237.500000,2005.000000
max,5.000000,6576.000000,4.597666e+06,94265.000000,2020.000000

In [133]:
data[data["publication_year"]==1900]

,title,authors,average_rating,language_code,num_pages,ratings_count,text_reviews_count,publication_year,publisher
9375,Consider the Lilies,Iain Crichton Smith/Isobel Murray,3.88,eng,144,332,33,1900,Polygon

In [134]:
data["publication_year"].value_counts()

2006    1700
2005    1260
2004    1071
2003     931
2002     798
        ...
1947       1
1922       1
1929       1
1919       1
1940       1
Name: publication_year, Length: 87, dtype: int64

In [135]:
data["publication_year"].unique()
# we can delete this attribute

array([2006, 2004, 2003, 2005, 2002, 1996, 2001, 2000, 1990, 1993, 1997,
       1991, 2012, 1994, 1982, 1986, 1999, 1987, 1984, 2007, 1965, 1998,
       1995, 1964, 1970, 2011, 1955, 1988, 1985, 1989, 1963, 2008, 2009,
       1976, 1975, 1980, 1992, 1973, 2019, 1954, 2015, 1919, 1921, 1923,
       1969, 1968, 1961, 1953, 1958, 1983, 1978, 1929, 1977, 1979, 1922,
       1981, 2010, 1950, 1971, 1960, 1959, 2013, 2017, 2016, 1972, 1947,
       1943, 1974, 1957, 2014, 2018, 1952, 1935, 1956, 1966, 1925, 1962,
       1949, 1913, 1928, 1914, 1948, 1967, 1900, 2020, 1931, 1940],
      dtype=int64)

In [136]:
data.shape

(11127, 9)

In [137]:
data.nunique()

title                 10352
authors                6643
average_rating          209
language_code            27
  num_pages             997
ratings_count          5294
text_reviews_count     1822
publication_year         87
publisher              2292
dtype: int64

In [138]:
data["publication_year"].isnull().sum()

0

In [139]:
data["publication_year"].isna().sum()

0

In [140]:
data[data["average_rating"]==0].shape

(26, 9)

In [141]:
data[data["ratings_count"]==0]
# to delete, don't make sens

,title,authors,average_rating,language_code,num_pages,ratings_count,text_reviews_count,publication_year,publisher
264,Lonely Planet Londres,Lonely Planet/Sarah Johnstone/Tom Masters,4.03,spa,480,0,0,2006,Geoplaneta
265,Out to Eat London 2002 (Lonely Planet Out to Eat),Lonely Planet/Mark Honan,0.00,eng,295,0,0,2001,Lonely Planet
375,Juiced Official Strategy Guide,Doug Walsh,0.00,eng,112,0,0,2005,BradyGames
525,American Government: Continuity and Change Al...,Karen O'Connor/Larry J. Sabato,2.83,eng,664,0,0,2005,Longman Publishing Group
526,Essentials of American and Texas Government: C...,Karen O'Connor/Larry J. Sabato,3.50,eng,854,0,0,2005,Longman Publishing Group
...,...,...,...,...,...,...,...,...,...
10517,Mission Possible,Kenneth H. Blanchard,3.44,eng,242,0,0,1999,McGraw-Hill Companies
10853,A Cargo of Women: Susannah Watson and the Conv...,Babette Smith,3.58,eng,264,0,0,2005,Rosenberg Publishing
10866,Courageous Faith Through the Year,Bill Hybels/Keri Wyatt Kent,3.50,eng,327,0,0,2004,IVP Books
10921,The Leadership Challenge: Skills for Taking Ch...,Warren G. Bennis,0.00,eng,60,0,0,1985,AMR/Advanced Management Reports
11031,Anthony Thwaite: In Conversation With Peter Da...,Peter Dale/Ian Hamilton/Anthony Thwaite,0.00,eng,96,0,0,1999,Between the Lines Productions

In [142]:
data[data["text_reviews_count"]==0]

,title,authors,average_rating,language_code,num_pages,ratings_count,text_reviews_count,publication_year,publisher
31,Molly Hatchet - 5 of the Best,Molly Hatchet,4.33,eng,56,6,0,2003,Cherry Lane Music Company
77,The Power of One: The Solo Play for Playwright...,Louis E. Catron,3.67,eng,240,10,0,2000,Heinemann Drama
80,What to Sell on ebay and Where to Get It: The ...,Chris Malta/Lisa Suttora,3.62,eng,260,24,0,2006,McGraw-Hill
82,eBay: Top 100 Simplified Tips & Tricks,Julia Wilkinson,4.27,eng,260,9,0,2006,Wiley
102,Dalit: The Black Untaouchables of India,V.T. Rajshekar/Y.N. Kly,4.20,eng,100,10,0,1995,Clarity Press
...,...,...,...,...,...,...,...,...,...
11040,Love Hate and Everything in Between: Expressi...,Mamiko Murakami/Ernest Reiss,3.54,eng,176,27,0,2002,Kodansha
11064,The Brave Women of the Gulf Wars: Operation De...,Karen Zeinert/Mary Miller,4.00,eng,112,1,0,2005,Twenty-First Century Books (CT)
11076,La última oportunidad,Eoin Colfer,3.77,spa,258,2,0,2006,Plaza y Janes
11095,The Die Broke Financial Problem Solver,Stephen M. Pollan/Mark LeVine,2.33,en-US,272,3,0,2000,William Morrow Paperbacks
11107,Fantastic Mr. Fox (Cover to Cover),Roald Dahl,4.05,eng,90,7,0,1995,BBC Audiobooks

In [207]:
mask_avg = data["average_rating"]==0
mask_num = data["ratings_count"]==0
data[mask_avg & mask_num]

,title,authors,average_rating,language_code,num_pages,ratings_count,text_reviews_count,publication_year,publisher
265,Out to Eat London 2002 (Lonely Planet Out to Eat),Lonely Planet/Mark Honan,0.0,eng,295,0,0,2001,Lonely Planet
375,Juiced Official Strategy Guide,Doug Walsh,0.0,eng,112,0,0,2005,BradyGames
987,Open City 6: The Only Woman He Ever Left,Open City Magazine/James Purdy/Daniel Pinchbec...,0.0,eng,200,0,0,2000,Grove Press Open City Books
2532,How To Meditate: An Anthology Of Talks On Medi...,Frederick P. Lenz,0.0,eng,228,0,0,2004,Frederick P. Lenz Foundation for American Budd...
2533,Insights: Talks On The Nature Of Existence,Frederick P. Lenz,0.0,eng,304,0,0,2003,Frederick P. Lenz Foundation for American Budd...
2758,Venac sonetnih venaca; Puževa srma,Dobrica Erić,0.0,srp,222,0,0,1996,"Izdavačka agencija ""Draganić"""
3493,Brodie's notes on Aldous Huxley's brave new world,Graham Handley,0.0,eng,71,0,0,1992,Macmillan
4242,American Film Guide,Frank N. Magill,0.0,eng,5,0,0,1983,Salem Press Inc
4678,The Man and the Author: John Milton: Twentieth...,J. Martin Evans,0.0,eng,386,0,0,2002,Routledge
5325,Canopy: A Work for Voice and Light in Harvard ...,David Ward/Parveen Adams/Seamus Heaney/Ivan ...,0.0,eng,63,0,0,1997,Arts Publications
6383,"Laguna I Love You: The Best of ""Our Town""",John Weld/Phil Interlandi,0.0,eng,285,0,0,1996,Fithian Press
6561,American Writers Supplement VIII,Jay Parini/August Wilson,0.0,eng,400,0,0,2001,Gale Cengage
6862,The Road To War 1933 39,Andrew Hunt,0.0,eng,128,0,0,2000,Hodder & Stoughton Educational Division
6880,I'll Be Home Before Midnight and I Won't Get P...,Anthony E. Wolf,0.0,eng,288,0,0,1988,Knopf Doubleday Publishing Group
7147,Mythographi Graeci 1: Apollodori Bibliotheca ...,Apollodorus/Richard Wagner,0.0,grc,335,0,0,1998,K.G. Saur Verlag
7402,Sclerotherapy and vein treatment,Robert A. Weiss/Margaret A. Weiss/Karen L. Bea...,0.0,eng,248,0,0,2011,McGraw-Hill Professional Publishing
7576,The Berlin Phenomenology,Georg Wilhelm Friedrich Hegel/Michael John Petry,0.0,eng,210,0,0,1981,Springer
7637,Your Child and Jesus: A Family Activity Book,Rick Osborne/Kevin Miller,0.0,eng,112,0,0,1999,Moody Publishers
7800,Beckett Football Card Price Guide,Dan Hitt/James Beckett III,0.0,eng,830,0,0,2006,Beckett Media
8979,Brown's Star Atlas: Showing All The Bright Sta...,Brown Son & Ferguson,0.0,eng,49,0,0,1977,Brown Son & Ferguson Ltd.
9335,Random House Crossword Mega Omnibus Volume 1,United Feature Syndication,0.0,eng,336,0,0,1997,Random House Puzzles & Games
9441,Classroom Interactions as Cross-Cultural Encou...,Jasmine C.M. Luk/Angel M.Y. Lin,0.0,eng,241,0,0,2006,Routledge
10142,Day and Night,Better Homes and Gardens,0.0,eng,32,0,1,1989,Meredith Corporation
10501,The Fantastic Vampire: Studies in the Children...,James Craig Holte,0.0,eng,176,0,0,2002,Greenwood Press
10921,The Leadership Challenge: Skills for Taking Ch...,Warren G. Bennis,0.0,eng,60,0,0,1985,AMR/Advanced Management Reports
11031,Anthony Thwaite: In Conversation With Peter Da...,Peter Dale/Ian Hamilton/Anthony Thwaite,0.0,eng,96,0,0,1999,Between the Lines Productions

In [208]:
data = data.drop(data[mask_avg].index, axis=0)

In [145]:
data.shape

(11101, 9)

In [209]:
data = data.drop(data[mask_num].index, axis=0)

C:\Users\brad\AppData\Local\Temp\ipykernel_17648\1465563289.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data = data.drop(data[mask_num].index, axis=0)

In [147]:
data.shape

(11046, 9)

In [148]:
data.describe()

,average_rating,num_pages,ratings_count,text_reviews_count,publication_year
count,11046.000000,11046.000000,1.104600e+04,11046.00000,11046.000000
mean,3.943134,336.762810,1.806794e+04,545.82772,2000.185316
std,0.295213,240.971269,1.128806e+05,2585.18629,8.206710
min,1.000000,0.000000,1.000000e+00,0.00000,1900.000000
25%,3.780000,194.000000,1.100000e+02,9.00000,1998.000000
50%,3.960000,300.000000,7.645000e+02,48.00000,2003.000000
75%,4.140000,416.000000,5.058750e+03,241.00000,2005.000000
max,5.000000,6576.000000,4.597666e+06,94265.00000,2020.000000

In [149]:
data.columns

Index(['title', 'authors', 'average_rating', 'language_code', '  num_pages',
       'ratings_count', 'text_reviews_count', 'publication_year', 'publisher'],
      dtype='object')

In [150]:
data["  num_pages"].head()

0     652
1     870
2     352
3     435
4    2690
Name:   num_pages, dtype: int64

In [210]:
data = data.rename(columns={"  num_pages" : "num_pages"})

In [152]:
data[data["num_pages"]==0]

,title,authors,average_rating,language_code,num_pages,ratings_count,text_reviews_count,publication_year,publisher
306,The 5 Love Languages / The 5 Love Languages Jo...,Gary Chapman,4.70,eng,0,22,4,2005,Moody Publishers
853,The Tragedy of Pudd'nhead Wilson,Mark Twain/Michael Prichard,3.79,eng,0,3,0,2003,Tantor Media
1061,Murder by Moonlight & Other Mysteries (New Adv...,NOT A BOOK,4.00,eng,0,7,2,2006,Simon Schuster Audio
1064,The Unfortunate Tobacconist & Other Mysteries ...,NOT A BOOK,3.50,eng,0,12,1,2003,Simon & Schuster Audio
1230,The Da Vinci Code (Robert Langdon #2),Dan Brown/Paul Michael,3.84,eng,0,91,16,2006,Random House Audio
...,...,...,...,...,...,...,...,...,...
10030,The Chessmen of Mars (Barsoom #5),Edgar Rice Burroughs/John Bolen,3.83,eng,0,5147,157,2005,Tantor Media
10192,Fine Lines (One-Eyed Mack #6),Jim Lehrer,3.23,eng,0,17,4,1995,Random House Value Publishing
10624,Stowaway and Milk Run: Two Unabridged Stories ...,Mary Higgins Clark/Jan Maxwell,3.49,eng,0,64,2,1999,Simon & Schuster Audio
10926,The Mask of the Enchantress,Victoria Holt,3.85,eng,0,21,1,1981,Ivy Books
11081,Treasury of American Tall Tales: Volume 1: Dav...,David Bromberg/Jay Ungar/Molly Mason/Garrison ...,3.86,eng,0,36,9,2006,Listening Library (Audio)

In [211]:
data = data.drop(data[data["num_pages"]==0].index, axis=0)

In [154]:
data.shape

(10971, 9)

In [155]:
data.describe()

,average_rating,num_pages,ratings_count,text_reviews_count,publication_year
count,10971.000000,10971.000000,1.097100e+04,10971.000000,10971.000000
mean,3.943235,339.064990,1.818883e+04,549.457205,2000.183939
std,0.294536,240.173871,1.132562e+05,2593.630924,8.200245
min,1.000000,1.000000,1.000000e+00,0.000000,1900.000000
25%,3.780000,197.000000,1.130000e+02,10.000000,1998.000000
50%,3.960000,302.000000,7.810000e+02,48.000000,2003.000000
75%,4.140000,416.000000,5.138000e+03,244.000000,2005.000000
max,5.000000,6576.000000,4.597666e+06,94265.000000,2020.000000

In [164]:
data.corr()

,average_rating,num_pages,ratings_count,text_reviews_count,publication_year
average_rating,1.000000,0.170746,0.040815,0.033764,-0.046053
num_pages,0.170746,1.000000,0.032975,0.035104,-0.022084
ratings_count,0.040815,0.032975,1.000000,0.865931,0.044832
text_reviews_count,0.033764,0.035104,0.865931,1.000000,0.067372
publication_year,-0.046053,-0.022084,0.044832,0.067372,1.000000

In [165]:
data.head()

,title,authors,average_rating,language_code,num_pages,ratings_count,text_reviews_count,publication_year,publisher
0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,eng,652,2095690,27591,2006,Scholastic Inc.
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,eng,870,2153167,29221,2004,Scholastic Inc.
2,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,eng,352,6333,244,2003,Scholastic
3,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,eng,435,2339585,36325,2004,Scholastic Inc.
4,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,eng,2690,41428,164,2004,Scholastic

In [ ]:
text = f"the book {data["title"]} written by {authors} and published by {publisher} in {publication_year}"
text2 = """the book {title} written by {authors} and published by {publisher} in {publication_year} with {num_pages} pages rated by {ratings_count}
persons and reviewed by {text_reviews_count} people"""

In [241]:
data["text"] = data.apply(lambda row: "the book {} written by {} and published by {} in {}".format(
    row["title"], row["authors"], row["publisher"], row["publication_year"]), axis=1)

In [242]:
data["text"][0]

'the book Harry Potter and the Half-Blood Prince (Harry Potter  #6) written by J.K. Rowling/Mary GrandPré and published by Scholastic Inc. in 2006'

In [166]:
data["publisher"].value_counts()

Vintage                          318
Penguin Books                    261
Penguin Classics                 184
Mariner Books                    148
Ballantine Books                 143
                                ...
University Press of America        1
Abstract Studio                    1
Jones & Bartlett Publishers        1
Pinter & Martin Ltd                1
Northeastern University Press      1
Name: publisher, Length: 2249, dtype: int64

In [167]:
data["authors"].value_counts()

Stephen King                                                                     40
P.G. Wodehouse                                                                   40
Rumiko Takahashi                                                                 38
Orson Scott Card                                                                 35
Agatha Christie                                                                  33
                                                                                 ..
Jean Estoril/Jenny Sanders                                                        1
Edith Wharton/Nina Bawden                                                         1
Neil Gaiman/John Bolton/Scott Hampton/Charles Vess/Paul Johnson/Roger Zelazny     1
Kate Chopin/Margo Culley                                                          1
William T. Vollmann/Larry McCaffery/Michael Hemmingson                            1
Name: authors, Length: 6548, dtype: int64

In [168]:
data["title"].value_counts()

The Brothers Karamazov                          9
The Iliad                                       9
The Odyssey                                     8
Anna Karenina                                   8
'Salem's Lot                                    7
                                               ..
Il genio dei numeri                             1
Wolfskin (Saga of the Light Isles  #1)          1
Blade of Fortriu (The Bridei Chronicles  #2)    1
Child of the Prophecy (Sevenwaters  #3)         1
Las aventuras de Tom Sawyer                     1
Name: title, Length: 10214, dtype: int64